* {
    padding:0;
    margin: 0;
    font-size: large;
}

nav a,ul{
    text-decoration: none; 
    list-style-type:none;
    display: flex ;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content: space-around ;
    align-items: center ;
    align-content: center ;
    color: white

}
a{
    text-decoration: none;
}
nav{
    background-color: black;
    height: 50px;
}
p{
    line-height:1.2;
    text-indent: 50px;
    margin-left:20px;
    margin-right:20px;
    text-align: justify;
    font-size:25px;
    font-family:'Franklin Gothic Medium';
}
